.container-skills {
  background: rgba(236, 223, 223, 0.589);
  .content-skills {
    margin: 0 10px;

    h1 {
      margin: 20px 0;
    }
    p {
      margin-bottom: 20px;
    }
  }
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    .front-skills-container,
    .back-skills-container,
    .tool-skills-container,
    .more-skills-container {
      margin: 20px;
      block-size: 100%;
      inline-size: 40%;
      flex-direction: column;
    }
    p {
      margin-bottom: 10px;
      font-size: 1.2rem;
      font-family: "roboto";
    }
    li {
      font-family: "poppins";
      font-size: 0.8rem;
    }
  }
}
@media screen and (min-width: 768px) {
  .container-skills {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 10%;
    .skills-container {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr 1fr;
      .front-skills-container,
      .back-skills-container,
      .tool-skills-container,
      .more-skills-container {
        min-width: 100%;

        li {
          width: 100%;
        }
      }
    }
  }
  .content-skills {
  }
}
