@font-face {
  font-family: "lato";
  src: url(../assets/fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  overflow-x: hidden;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 12px;
  border: 2px solid red;
}
button {
  border-radius: 3px;
  padding: 5px 30px;
  block-size: 40px;
  background: rgba(158, 217, 246, 0.527);
  border: none;
  cursor: pointer;
  font-family: "lato";
  overflow: hidden;
}
Link {
  border: 2px solid red;
}

p {
  font-family: "poppins";
}
#btn {
  width: 200px;
  font-weight: bold;
}
