@font-face {
  font-family: "poppins";
  src: url(../assets/fonts/Poppins-ExtraLight.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
button {
  margin: 20px 0;
  inline-size: 30%;
  block-size: 40px;
  border-radius: 10px;
  background: rgba(149, 149, 209, 0.618);
  border: none;
}

p {
  font-family: "poppins";
}
