.container-about {
  .content-about {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    .link-btn {
      display: flex;
      justify-content: center;
    }
  }
}
.img-about {
  display: flex;
  justify-content: center;
  width: 100%;
  background-size: cover;
  object-fit: cover;

  .img {
    border-radius: 10px;
    width: 50%;
    // aspect-ratio: 1.38 / 1;
  }
}
@media screen and (min-width: 768px) {
  .container-about {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgba(158, 217, 246, 0.527);
    .content-about {
      padding: 10%;
    }
    h1 {
      margin-bottom: 20px;
    }
    .img-about {
      @include center;
      border: none;
      margin: 5% 0;
      img {
        min-width: 350px;
        height: 350px;
      }
    }
  }
}
@media screen and (min-width: 1000px) {
  .container-about {
    .profil {
      .profile-img {
        width: 30%;
        max-height: 30%;
        border-radius: 50px;
      }
    }
  }
}
