.title-h1 {
  padding-left: 5px;
  padding-top: 50px;
  margin-bottom: 20px;
  font-family: "lato";
  color: $primary-color;
  transform: translateX(-600px);
  transition: 4s ease-in-out;
  &.activeProject {
    transform: none;
    transition: 4s ease-in-out;
  }
}
.projects-container {
  // padding: 80px 0;
  display: flex;
  transform: translateX(1200px);
  transition: 4s ease-in-out;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  &.visibleProject {
    transform: none;
    transition: 4s ease-in-out;
  }
  .projects-container-cards {
    max-width: 80%;
    .project-df {
      @include center;
      flex-direction: column;
    }
    .project {
      border: 0.5px solid rgba(173, 168, 168, 0.641);
      border-radius: 5px;
      max-width: 80%;
      max-height: 500px;
    }

    .btn-link {
      display: flex;
      justify-content: center;
      padding: 30px 0;
    }
  }
}
@media screen and (min-width: 1000px) {
  .container {
    .projects-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;
      .projects-container-cards {
        .project {
          max-width: 50%;
        }
      }
    }
  }
}
