h1 {
  padding-top: 80px;
  margin-bottom: 20px;
  font-family: "roboto";
}
.projects-container {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;

  .project-df {
    @include center;
    flex-direction: column;
  }
  .project {
    border-radius: 5px;
    width: 80%;
  }
  .btn-link {
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }
}
@media screen and (min-width: 768px) {
}
