.projects {
  padding: 80px 0;
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "roboto";
  }
  .projects-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .project-df {
      @include center;
      flex-direction: column;
    }
    .project {
      border-radius: 20px;
      min-width: 80%;
      max-height: 200px;
    }
  }
}
@media screen and (min-width: 768px) {
  .projects {
    // margin: 0 10%;
    background: rgba(158, 217, 246, 0.527);
    h1 {
      margin-top: 20px;
    }
    .projects-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      .project-df {
        .project {
          max-width: 60%;
          min-height: 350px;
        }
      }
    }
  }
}
