.arrow-fixed {
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 100px;
  right: 80px;
  border-radius: 50%;
  font-size: 4rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.647);
  transition: 0.4s ease-in-out;
  cursor: pointer;
  transform: translateX(200px);
  background: $primary-color;
  z-index: 20;

  &:hover {
    scale: 1.3;
    transition: 0.5s ease-in-out;
    background: $primary-color;
    opacity: 0.6;
  }
  &.active {
    transform: translateX(0);
    transition: 0.5s ease-in-out;
  }
  span {
    width: 5.4rem;
    height: 4.6rem;
    @include center;
    transform: rotate(90deg);
    border-radius: 50%;
    overflow: hidden;
  }
}
@media screen and (max-width: 768px) {
  .arrow-fixed {
    right: 20px;
    bottom: 50px;
  }
}
