.navbar {
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  .link {
    margin: 0 10px;

    p {
      font-family: "roboto";
      font-weight: bold;
      color: black;
    }
  }
}
