.project-info-container {
  @include center;
  flex-direction: column;
  min-height: 200px;
  margin-bottom: 20px;

  img {
    // aspect-ratio: 1.38 / 1;

    width: 100%;
  }
  h1,
  p {
    color: black;
  }
  // h1 {
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -235%);
  // }
}
@media screen and (min-width: 1000px) {
  .project-info-container {
    img {
      width: 30%;
    }
    .project-title-container {
      margin: 0 0 0 10%;
      h1 {
        font-size: 4em;
      }
      p {
        text-align: center;
        font-size: 2.5em;
      }
    }
  }
}
