.project-info-container {
  @include center;
  flex-direction: column;
  min-height: 200px;
  margin-bottom: 20px;

  .img-info {
    width: 60%;
  }
  h1,
  p {
    color: black;
  }
  // h1 {
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -235%);
  // }
}
@media screen and (max-width: 1000px) {
  .project-info-container {
    .img-info {
      width: 40%;
    }
    .project-title-container {
      display: flex;
      justify-content: center;
      flex-direction: column;

      h1 {
        margin-top: 20px;
        text-align: center;
        font-size: 2em;
      }
      p {
        text-align: center;
        font-size: 1.5em;
      }
    }
  }
}
