.footer {
  background: $primary-color;

  padding: 80px 0;
  @include center;
  flex-direction: column;
  h3 {
    text-align: center;
    margin: 10px 0;
    color: white;
    font-family: "lato";
  }
  .email {
    margin: 10px 0;
    color: white;
    font-family: "lato";
  }
  .icon-footer {
    inline-size: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50%;
    img {
      height: 30px;
      margin: 0 30px;
    }
  }
}
