.container-skills {
  display: flex;

  flex-direction: column;
  align-items: center;

  .content-about-project {
    width: 60%;

    h1 {
      padding-left: 5px;
      font-family: "lato";
      color: $primary-color;
    }
    p {
      padding-left: 5px;
      font-family: "lato";
      line-height: 25px;
      color: $primary-color;
    }
  }
  .btn-project {
    width: 60%;
    padding: 50px 25px 50px 0;
  }
  .img-about-project,
  .img-about-project-add {
    margin: 0 auto;
    min-width: 55%;
    img {
      width: 100%;
      border: 0.5px solid rgba(173, 168, 168, 0.641);
      background-position: center;
      object-fit: cover;
    }
    .img-project {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 900px) {
  .container-img-project {
    width: 100%;
    background: $primary-color;
    display: flex;
    .img-about-project,
    .img-about-project-add {
      padding: 50px;
      img {
        width: 80%;
      }
    }
  }
}
