.header {
  position: relative;
  margin: 0 2%;

  img {
    block-size: 100%;
    inline-size: 100%;
    aspect-ratio: 1.38 / 1;
  }
  h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.2rem;
    font-family: "roboto";
  }
  h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1rem;
    font-family: "roboto";
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .header {
    margin: 0 10%;

    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
}
@media screen and (min-width: 1000px) {
  .header {
    h1 {
      font-size: 3.5rem;
    }
    h2 {
      font-size: 2.2rem;
    }
  }
}
